<!-- header bg -->
    <div class="container-fluid">
      <div class="header-body">
        <div class="card card-stats">
          <h1 style="text-align: center;">
          Les réservations
          </h1>
        </div>
      </div>
    </div>

  <div>
      <div class="col-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3>Les matériels demandés</h3>
              </div>
              <div class="col text-right">
                <a  [routerLink]="['/ajout-reservation']" class="btn btn-sm btn-primary">Ajouter</a>
              </div>
            </div>
          </div>

          </div>
      </div>
    <div class="col-12">
      <p-table #dt
               [columns]="cols"
               [value]="data"
               (onPage)="data.length"
               [paginator]="true"
               [rows]="5"
               [rowsPerPageOptions]="[5,10,20,50,100]"
               [totalRecords]="data.length"
               [globalFilterFields]="cols"
               [loading]="loading"
               [scrollable]="false"
               [resizableColumns]="true"
               [style]="{width:'100%'}">
        <ng-template pTemplate="paginatorleft" let-state>
          <b>Total des lignes: {{dt._totalRecords}}</b>
        </ng-template>
        <ng-template pTemplate="caption">
          <div style="text-align:left">
            <input type="text" pInputText size="20" placeholder="Filtre Général"
                   (input)="dt.filterGlobal($event.target['value'], 'contains')" class="form-control"
                   style="width:auto;">
          </div>
          <div style="text-align:right">

          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" class="{{col.class}}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template let-columns let-index="colIndex" pTemplate="header">
          <tr>
            <!-- <th *ngIf="win.innerWidth<1700" width="40px"></th>-->
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [pSortableColumn]="col.field"
                class={{col.class}} pResizableColumn>
              {{col.header}}
              <p-sortIcon *ngIf="col.field!=='action'" [field]="col.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" class={{col.class}}>
              <input size="10" *ngIf="col.field!=='action'&&col.field!=='dateDebut'&&col.field!=='dateFin'"
                     pInputText type="text" class="form-control "
                     (input)="dt.filter($event.target['value'], col.field,'contains')"
              ><input size="10" *ngIf="col.field==='dateDebut'|| col.field==='dateFin'"
                     pInputText type="date" class="form-control "
                     (input)="dt.filter($event.target['value'], col.field,'contains')">

            </th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" class="{{col.class}}">
              <sapn *ngIf="col.field==='action'">
                <button class="btn btn-danger" (click)="confirmDelete(rowData)"><i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-primary" (click)="edit(rowData)">
                  <i class="fas fa-edit"></i>
                </button>
              </sapn>
              <span
                *ngIf="col.field !== 'action'&&col.field !== 'dateDebut'&&col.field!=='dateFin'">
                 {{rowData[col.field]}}
            </span>

              <span *ngIf="col.field === 'dateDebut'|| col.field==='dateFin'">
                {{rowData[col.field] | date: 'yyyy-MM-dd HH:mm'}}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
