<nav class="navbar navbar-horizontal navbar-expand-lg  bg-danger">
  <div class="container">
    <h1 class="navbar-brand">QU'AIMERIEZ-VOUS APPRENDRE ?</h1>

    <div class="collapse navbar-collapse" id="navbar-default">
    </div>
  </div>
  <div class="input-group col-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input class="form-control" placeholder="Ex.Developpementweb,..." type="text">
  </div>

  <a class="nav-link nav-link-icon" [routerLink]="['/catalogue/5']" routerLinkActive="router-link-active">
    <i class="ni ni-notification-70"></i>
  </a>
  <a class="nav-link nav-link-icon" [routerLink]="['/catalogue/5']" routerLinkActive="router-link-active">
    <i class="ni ni-favourite-28"></i>
    <span class="nav-link-inner--text d-lg-none">Discover</span>
  </a>
  <button type="button" class="btn btn-info" [routerLink]="['/login']" routerLinkActive="router-link-active">Se
    connecter
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="['/register']" routerLinkActive="router-link-active">
    S'inscrire
  </button>
</nav>
<div class="container">
  <app-catalogue>

  </app-catalogue>
</div>

