<div class="col-md-12 col-sm-12">
    <div class="card-container">
       <div class="card">
           <div class="front">
               <div class="cover">
                   <img src="{{pathImage + cvformateur.image}}">
               </div>
               <div class="user">
                   <img class="img-circle" src="{{pathImage + cvformateur.image}}">
               </div>
               <div class="content">
                   <div class="main">
                       <h3 class="name">{{cvformateur?.name|uppercase}} {{cvformateur?.firstname|uppercase}}</h3>
                       <p class="profession">{{cvformateur?.email}}</p>
                       <p class="text-center">{{cvformateur?.phone}}</p>
                   </div>
                   <div class="footer">
                       <i class="fa fa-mail-forward"></i> Sesame
                   </div>
               </div>
           </div> <!-- end front panel -->
           <div class="back">
               <div class="header">
                   <h5 class="motto"></h5>
               </div>
               <div class="content">
                   <div class="main">
                       <h4 class="text-center">{{cvformateur?.job}}</h4>
                       <p class="text-center">{{cvformateur?.designation}}</p>

                       <div class="stats-container">
                           <div class="stats">
                               <h4>Diplome</h4>
                               <p>
                                   {{cvformateur.diplome}}
                               </p>
                           </div>
                           <div class="stats">
                               <h4>Experiénce</h4>
                               <p>
                                   {{cvformateur.experience}}
                               </p>
                           </div>
                           <div class="stats">
                               <h4>35</h4>
                               <p>
                                   Projects
                               </p>
                           </div>
                       </div>

                   </div>
               </div>
               <div class="footer">
                   <div class="social-links text-center">
                       <a href="{{cvformateur.facebook}}"><i class="fab fa-facebook text-blue"></i></a>
                       <a class="google"><i class="fab fa-google-plus text-blue"></i></a>
                       <a href="{{cvformateur.linkedin}}"><i class="fab fa-linkedin-in text-blue"></i></a>
                       <a href="{{cvformateur.github}}" class="twitter"><i class="fab fa-twitter text-blue"></i></a>
                   </div>
                   <button class="btn btn-success" (click)="embaucher()">
                       Embaucher
                   </button>
               </div>
           </div> <!-- end back panel -->
       </div> <!-- end card -->
   </div> <!-- end card-container -->
</div>
